.img {
  margin: auto;
  display: block;
  width: 230px;
  height: 230px;
  }

  .botton{
    margin: auto;
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 35%;
    border-color: #C71585;
    color: #C71585;
    background-color: transparent;
  }

  .botton2{
    margin: auto;
    margin-top: 1%;
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 35%;
    border-color: #C71585;
    color: #C71585;
    background-color: transparent;
  }
